.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.body {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.text {
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
